<%- include("./partials/_header") -%>

<main>
    <section class="my-2">
        <%- include("./partials/_messages") -%>
        <div>
            <h4 class="text-center">
                Update Animal
            </h4>
        </div>
        <div class="px-4 form__container">
            <%=animal.id%>
            <form class="create__form" role="form" method="post" action="/api/animals/<%=animal.id%>?_method=PUT">
                <div class="flex-column mb-1">
                    <label for="name">Animal Name</label>
                    <input type="text" id="name" name="name" value="<%= animal.name %>" placeholder="Enter Animal Name"
                        class="form__input" />
                </div>
                <div class="flex-column mb-1">
                    <label for="Found">Place Found</label>
                    <select name="location">
                        <% for(var i = 0;i < location.length; i++){%>
                        <% if(location[i].id == animal.location_id) { %>
                        <option selected label="<%= location[i].location %>" value="<%= location[i].id %>">
                            <%= location[i].location %>
                        </option>
                        <% } else { %>
                        <option label="<%= location[i].location %>" value=" <%= location[i].id %>">
                            <%= location[i].location %>
                        </option>
                        <% } %>
                        <%}%>
                    </select>
                </div>
                <div class="flex-column mb-1">
                    <h3>Endangered</h3>
                    <div>
                        <input type="radio" id="true" name="endangered" value="true" <%if(animal.endangered == "true"){%>
                        <%="checked"%>
                        <%}%>
                        >
                        <label for="true">True</label><br>
                    </div>
                    <div>
                        <input type="radio" id="false" name="endangered" value="false" <%if(animal.endangered == "false"){%>
                        <%="checked"%>
                        <%}%>>
                        <label for="false">False</label><br>
                    </div>

                </div>
                <div class="mb-1">
                    <textarea class="form__description" name="description">
                        <%= animal.description %>
                        </textarea>
                </div>
                <div>
                    <button class=" animal__cta edit">Update</button>
                </div>
            </form>
        </div>
    </section>
</main>

<%- include("./partials/_footer") -%>